@font-face {
    font-family: 'mediumspace';
    src: url('./fonts/SpaceGrotesk-Medium.ttf') format('woff2');
    font-weight: medium;
    font-style: normal;
  }
  @font-face {
    font-family: 'space';
    src: url('./fonts/SpaceGrotesk-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'digital';
    src: url('./fonts/digital-7.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  :root {
    --white: #fff;
    --bordergrey: #F0F2F5; 
    --midgrey: #FAFAFA; 
    --textgrey: #D2D7E6; 
    --success: #93D77E; 
}
a {
    all: unset;
    cursor: pointer;
    text-decoration: underline;
}

p {
    all: unset;
}

body {
    font-family: 'space';
    margin: 0;
    padding: 8px;
    background-color: var(--white);
    color: #333;
    text-align: center;
    width: 220px;
    height: auto;
    font-size: 14px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}


#container {
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 44px;
    margin-top: 20px;
}
h1 {
    font-size: 16px;
    margin: 0;
}

#timer-display {
    font-family: 'digital';
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 12px;
}

button {
    all: unset;
    font-family: 'mediumspace';
    display: inline-block;
    cursor: pointer;
    padding: 8px 12px;
    background-color: var(--midgrey);
    border: 2px solid var(--bordergrey);
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    font-size: 15px;
    margin: 2px;
}

button:hover {
    background-color: var(--bordergrey);
  }

button:active {
    transform: scale(0.97);
}

.start-buttons {
    display: flex; 

    flex-direction: column;

}

#settings-btn {
    all: unset;
    margin-top: 4px;
    text-align: center;
    cursor: pointer;
  }
  #settings-btn:hover {
    color: black;
  }

.hidden {
    display: none;
}

#settings {
    width: 100%;
    margin-top: 20px;
    text-align: left;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
#settingswrapper {
    display: flex; 
    flex-direction: row;
    align-items: start;
    gap: 4px;
}

#setting-option {
    display: flex; 
    flex-direction: column;
    align-items: start;
}

label {
    display: block;
}

input[type="number"] {
    width: 80px;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#footr {
    font-size: 12px;
    color: #333;
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}